<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>글쓰기</h1>

<form action="/letters" method="post">
    <p>
        <strong>제목</strong>
        <input type="text" name="title">
    </p>
    <p>
        <strong>내용</strong>
        <textarea name="content" rows="30" cols="50"></textarea>
    </p>
    <p>
        <strong>비밀번호</strong>
        <input type="password" name="password">
    </p>
    <p>
        <strong>비밀번호 확인</strong>
        <input type="password" name="password">
    </p>
    <p>
        <input type="submit" value="작성">
    </p>

</form>
</body>
</html>